.top
  .top__title
    店舗一覧
.wrapper.contents
  .shops.row
    - @shops.each do |shop|
      = link_to "/shops/#{shop.id}/foods",class: "shops__list col-lg-4 col-sm-12 col-md-12" do
        .shops__list__select
          .shops__list__select__image
            = image_tag "/shops/#{shop.image}", alt: 'ショップ',class: "shops__list__select__image__pic"
          .shop_header
            %span
              = shop.name
          .shop_details
            .shop_details_address
              %span
                住所：
              = shop.address
            .shop_details_telephone
              %span
                電話番号：
              = shop.telephone
  = paginate @shops
  -if user_signed_in?
    = link_to "/users/#{current_user.id}/user_items",class: "move-to-cart" do
      .move-to-cart__amount
        .move-to-cart__amount__number
          = @user_items_amount
      .move-to-cart__name
        cart
      %i.fas.fa-shopping-cart.fa-4x