!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HappyMorning
    = csrf_meta_tags
    = csp_meta_tag
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.border-bottom.shadow-sm.sticky-top.header
      %h4.my-0.mr-md-auto.font-weight-normal
        = link_to "BreadStart", "/",class:"title"
      %nav.my-2.my-md-0.mr-md-3.navbar
        - if user_signed_in? && current_user.try(:admin?)
          = link_to "管理画面", "/admin"
        - elsif user_signed_in?
          = link_to "会員情報", "/users/#{current_user.id}",class:"user-information"
        - else
          = link_to '新規登録', users_path,class:"signup"
          = link_to 'ログイン', new_user_session_path,class:"login"
    = yield
